@(title: String)(content: Html)<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Words</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="css/round-about.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-xl btn-start">Начать</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">Read the text!<br/><small>Mark words you don't know</small>
            </h1>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row text">

    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-danger">Ничего не понимаю</button>
            <button type="button" class="btn btn-success btn-next-text">Прочитал, следующий текст</button>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>LinguaHack 2015 project "linguahack-3-words"</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- Bootstrap Core JavaScript -->
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.lettering-0.6.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


<script>
$(document).ready(function() {
    $(".btn-start").click(function() {
        $.ajax({
            type : 'GET',
            url: "/text",
            success: function(data) {
                initContent(data);
                console.log(data);
            }
        });
    });

    $(".btn-next-text").click(function() {
        var unknownWords = [];
        $(".dont-know").each(function(index, el) {
            unknownWords.push(this.innerText.replace(/\W/g, ''));
        });


        $.ajax({
            type : 'POST',
            data: JSON.stringify({unknownWords: unknownWords}),
            url: "/text/next",
            dataType: "json",
            contentType : 'application/json',
            success: function(data) {
                initContent(data);
                console.log(data);
            }
        });
    });

    function initContent(data) {
        $(".text").html(data.content);

        var showed = [];
        var template = '<div class="popover" role="tooltip">' +
                '<div class="arrow"></div>' +
                '<h3 class="popover-title"></h3>' +
                '<div class="popover-content"></div>' +
                '<div class="text-center"><button id="do-not-know-$$INDEX$$" type="button" class="btn btn-danger">Не знаю</button></div></div>';
        $(".text").lettering('words');


        $(".text .word").each(function(index, element) {
            $(element).on("click", function() {
                if ($(element).hasClass("dont-know")) {
                    return;
                }

                $(showed).each(function (index, el) {
                    $(el).popover("hide");
                });
                showed = [];

                showed.push(this);

                $(element).popover({
                    title: "",
                    content: element.innerText.replace(/\W/g, ''),
                    trigger: 'manual',
                    placement: 'bottom',
                    template: template.replace("$$INDEX$$", index)
                }).on('shown.bs.popover', function() {
                    // set what happens when user clicks on the button
                    $(element).addClass("not-sure");
                    $("#do-not-know-" + index).on('click', function(){
                        $(element).addClass("dont-know");
                        $(element).popover("hide");
                    });
                }).on('hide.bs.popover', function() {
                    $(element).removeClass("not-sure");
                }).popover("show");

            });
        });
    }


});
</script>

</body>

</html>
