@(title: String)(content: Html)<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Words</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link href="css/round-about.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-xl">Начать</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">Read the fucking text!</h1>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row text">
        <p>
        Suicide is when a person chooses to kill himself or herself. When someone kills himself, people say that he has "committed suicide". When a person thinks about killing themselves, the person is said to be suicidal.
        </p>

        <p>
        When people start having thoughts about killing themselves it is, or should be, a medical emergency. They should get a suicide risk assessment as soon as possible.
        </p>

        <p>
        There are many reasons why a person might think about committing suicide. Most people who are suicidal have some type of mental condition or illness. They may have a chronic condition, which means it has been going on for a long time. But it may be an acute condition – which means the first symptoms of mental illness happened rather quickly.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-danger">Ничего не понимаю</button>
            <button type="button" class="btn btn-success">Следующий текст</button>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>LinguaHack 2015 project "linguahack-3-words"</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- Bootstrap Core JavaScript -->
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.lettering-0.6.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


<script>
$(document).ready(function() {
    var showed = [];
    var template = '<div class="popover" role="tooltip">' +
            '<div class="arrow"></div>' +
            '<h3 class="popover-title"></h3>' +
            '<div class="popover-content"></div>' +
            '<div class="text-center"><button id="do-not-know-$$INDEX$$" type="button" class="btn btn-danger">Не знаю</button></div></div>';
    $(".text").lettering('words');
    $(".text span").each(function(index, element) {
        $(element).popover({
            title: "",
            content: element.innerText,
            trigger: 'manual',
            placement: 'bottom',
            template: template.replace("$$INDEX$$", index)
        }).on('shown.bs.popover', function() {
            // set what happens when user clicks on the button
            $(element).addClass("dont-know")
            $("#do-not-know-" + index).on('click', function(){
                $(element).popover("hide");
            });
        });

        $(element).on("click", function() {
            $(showed).each(function (index, el) {
               $(el).popover("hide");
            });
            showed.push(this);
            $(this).popover("show");
            $(this).on("click", "button", function() {
                //console.log('asdf');
            })
        });
    });
});
</script>

</body>

</html>
