@(texts: java.util.List[Text])

@main("3 Words") {
<!-- Page Content -->
<div class="container">



    <!-- Team Members Row -->
    <div class="row" style="margin-top: 2em">
        <div class="col-lg-12 text-center">
            <h2 class="page-header">Тексты по <u style="text-decoration: none; border-bottom: 2px dashed">релевантности</u></h2>
        </div>
        @for((text, index) <- texts.zipWithIndex) {
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="percentage easyPieChart img-circle img-center" data-percent="@(90 - 4 * index)">
                    &nbsp;
                </div>
                <p><a href="/text">@text.getText().substring(0, 200)...</a></p>
            </div>
        }
    </div>

</div>
<!-- /.container -->
}
